
.allCatagoriesss{
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
   
}

.allCatagoris{
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
.rightCarosul{
    display: flex;
    justify-content: space-between;
}
.leftText{
    text-align: left;
    padding-left: 30px;
    padding-top: 50px;
}
.homeCarsulCont{
    padding-left: 40px;
    padding-right: 40px;
}
.listItemsss h6{
border-bottom: 1px solid rgb(238, 237, 237);
border-left: 1px solid rgb(238, 237, 237);
border-right: 1px solid rgb(238, 237, 237);
margin: 0px;
padding: 15px;
text-align: left;
transition: all 0.5s ease-out;
}
.allCatagoris{
   text-align: left;
   padding: 15px;
   margin: 0px;
   border-bottom: 1px solid rgb(238, 237, 237);
border-left: 1px solid rgb(238, 237, 237);
border-right: 1px solid rgb(238, 237, 237);
}

  .listItemsss h6:hover, .listItemsss h6:focus{
    background-color: orangered;
    color: white;
  }
.rightCarosul{
    background-color: #FF80A3;
}
.shopBTN{
    border: none;
    background: none;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.5s ease-out;
    font-weight: 600;
}
.shopBTN:hover, .shopBTN:focus{
    background-color: orangered;
    color: black;
}
.myLink{
    text-decoration: none;
    color: black;
}
.logOutss{
    background: none;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}